/*// X-Small devices (portrait phones, less than 576px) col-sm- 1 to 12
@media (max-width: 575.98px) { ... } 

// Small devices (landscape phones, less than 768px) col-md- 1 to 12
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px) col-lg- 1 to 12
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px) col-xl- 1 to 12
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px) col-xxl- 1 to 12
@media (max-width: 1399.98px) { ... } */
@media (max-width: 992px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  html {
    font-size: 56.25%;
  }
  .header {
    height: 600px;
  }
  .header-bg {
    height: 600px;
    background-size: cover;
  }
  .team-contain {
    text-align: center;
    padding: 2rem 0;
  }
}
@media (max-width: 768px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .header-contain {
    position: absolute;
    top: 30%;
    width: 70%;
  }
  html {
    font-size: 50%;
  }

  .header {
    height: 450px;
  }

  .header-bg {
    height: 450px;
    background-size: cover;
  }
  .about-contain {
    text-align: left;
  }
  .contact-img {
    height: auto;
  }
  .contact-form {
    margin-left: 0;
  }
  .round-h3 {
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-size: 4.6rem;
  }
}
@media (max-width: 576px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  html {
    font-size: 43.75%;
  }

  .nav-btn {
    display: none;
  }

  .header {
    height: 400px;
  }

  .header-bg {
    height: 400px;
    background-size: cover;
  }
  .header-contain {
    position: absolute;
    top: 25%;
    width: 100%;
  }
  #slide-box {
    margin: 0;
  }
  .slider-logo {
    margin: 0;
  }
  .round-h3 {
    top: 35%;
    left: 50%;
    transform: translate(-35%, -50%);
    font-size: 3.8rem;
  }
}

@media (min-width: 993px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* =============================== mobile navbar =============================  */
@media (max-width: 992px) {
  .menu li a {
    color: #fff;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    font-size: 3.5rem;
    z-index: 99;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .menu {
    flex-direction: column;
    gap: 2.4rem;
    flex-grow: 1;
    align-items: center;
  }
}
